body {
  background: #F3F6F9;
  color: #333;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
  padding-bottom: 40px;
}

img {
  display: block;
}

.col-left,
.col-right {
  align-items: flex-start;
}

.col-left {
  padding-right: 12px;
}
.col-right {
  padding-left: 12px;
}

.main-table {
  width: 100%;
  border: none;
  box-shadow: none!important;
  padding: 20px 24px;
  border-radius: 4px;
}

.filter-row {
  margin: 20px 0 16px;
}

.subtitle {
  display: flex;
  align-items: center;
}

.subtitle svg {
  margin-left: 6px;
}

.head-row, .head-row_btns {
  display: flex;
  align-items: center;
}

.head-row {
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 12px;
}

.head-row_btns > *:first-child {
  margin-right: 16px;
}